.vscode/tasks.json
*.pyc
build
dist
openhltest_client.egg-info
/doc-browser/node_modules
/doc-browser/src/assets/documentation.json
/openhltest_client/openhltest/*
!/openhltest_client/*.py

