@import '~angular-tree-component/dist/angular-tree-component.css';

/* You can add global styles to this file, and also import other style files */
$app-background-color: white;
$app-background-color1: white;
// $app-header-background: white;
$app-header-background: rgb(43,43,43);
// $app-header-background: #919191;

$app-header-color: whitesmoke;

$widget-container-background: white;
$widget-border-color: lightgray;
$flyout-panel-color: rgb(245,248,248);

$ok-bk-color: green;
$error-bk-color: red;
$warning-bk-color: yellow;

$document-bk-color: white;
$secondary-bk-color: black;
$secondary-color: gray;
$secondary-highlight-color: darkgray;

$app-text-color: rgb(74,74,74);
$darker-app-text-color: lightgray;
$large-font: bold 35px consolas;
$medium-font: normal 28px arial;
$property-font: normal 20px arial;
$small-font: normal 18px arial;
$small-font-bold: bold 18px consolas;
$smaller-font: normal 16px arial;
$tiny-font: normal 14px arial;
$tiny-font-italic: italic 14px consolas;
$tiny-font-bold: bold 14px consolas;
$very-tiny-font: normal 12px consolas;
$header-font: 24px consolas;

$small-font-fixed: normal 16px 'Courier New' monospace;
$font-title: normal 1.5em "open_sansregular";	


$darker-background-color: rgb(27,27,27);;
$darker-highlight-background-color: rgb(42, 41, 41);
$darker-text-color: rgb(85, 85, 85);
$link-color: rgb(0, 90, 230);
$attribute-name: black;

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
}

pre {
	tab-size: 4;
}

.fixed-table {
	.column {
		height: 80%; 
		vertical-align: top;
	}
	.scrolling-outer-container {
		display: inline-block;
		width:100%;
		height:100%;
		position:relative;
	}
	.scrolling-inner-container {
		position: absolute; 
		width: 100%; 
		height: 70%;
		overflow-y: auto;
	}
	.slim {
		width: 30%;
	}
	.slimmer {
		width: 20%;
	}
	.border-right {
		border-right: 1px solid lightgray;
	}
	.padding-left {
		padding-left: 20px;
	}
}

.tab-control {
	font: $smaller-font;
	background-color: rgb(69, 88, 196);
	color: white;
	padding: 10px 0px 10px 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	.tab-content {
		cursor: pointer;
		padding: 0px 10px 0px 10px;	
		&.selected {
			color: black;
		}
	}
	.tab-separator {
		font-style: $smaller-font;
	}
	.tab-select {
		border-bottom: 2px solid white;
	}
}

.modal-dialog {
	/* A centered div above the overlay with a box shadow. */
	z-index:10000;
	position: absolute;
	width: 50%; /* Default */
  
	/* Center the dialog */
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
  
	background-color: #fff;
	box-shadow: 2px 2px 10px #000;
  }
