@import '../../styles.scss';

.header {
	font: $medium-font;
	padding-bottom: 20px;
}
.api {
	width: 100%; 
	height: 100%;
}
.hierarchy-item {
	float: left;
	margin-top: 5px;
	font: $tiny-font;
}
.hierarchy-item-link {
	float: left;
	margin-top: 5px;
	cursor: pointer;
	font: $tiny-font;
	color: $link-color;
}
.hierarchy-item-separator {
	float: left;
	margin: 5px 5px 0px 5px;
	cursor: pointer;
	font: $tiny-font;
	color: rgb(127,127,127);
}
.documentation {
	width: 100%;
	overflow-y: auto;
	height: calc(100% - 75px);
}
.property-table {
	border-collapse: collapse;
	margin-top: 20px;
	font: $tiny-font;
	min-width: 50%;
	max-width: 90%;
}
.details_label_column {
	border: 1px solid #ddd;
	padding: 3px;
	background-color: rgb(240,240,240);
	font-weight: bold;
}
.details_value_column {
	border: 1px solid #ddd;
	padding: 3px;
}
.prefix {
	float: left;
	font: $property-font;
	color: rgb(127,127,127);
}
.signature {
	font: $small-font;
	padding: 5px;
}
.summary {
	max-width: 1000px;
	font: $tiny-font;
}
.property {
	font: $tiny-font;
	color: rgb(127,127,127);
}
.sub-header {
	margin-top: 10px;
	padding-left: 50px;
	font: $tiny-font-bold;
}
.arg-item {
	font: $tiny-font;
}
.return {
	background-color: antiquewhite;
}
.return-header {
	padding-top: 20px;
	padding-left: 50px;
	font: $tiny-font-bold;
}
.return-item {
	font: $tiny-font;
}
.return-link {
	cursor: pointer;
	font: $tiny-font;
	color: $link-color;
}
.search-results-window {
	width: 90%;
	height: 90%;
	position: absolute;
	top: 50;
	left: 0;
	z-index: 9999;
	background-color: lightgrey;
	overflow: auto;
}
.search-result {
	font: $tiny-font;
}
.close-search {
	float: right;
	font: $small-font;
	color: $link-color;
	cursor: pointer;
}
.item-link {
	color: #1e73be;
	font: $smaller-font;
    cursor: pointer;
}

.split-container {
	padding: 5px;
}

.code {
	white-space: pre-wrap;
	font-family: monospace;
	font-size: 14px;
	background-color: white;
	border: none;
}
.item-prefix {
	font: $smaller-font;
	color: rgb(127,127,127);
}

.reference-table {
	width: calc(100% - 30px);
	height: 100%;
}

.placeholder-text {
	font: $smaller-font;
	color: rgb(127,127,127);
}

.not-supported {
	color: red;
}



